In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('ecommerce_sales_with_age.csv')

In [5]:
df.head()

,order_id,order_date,customer_id,city,state,Age,category,sub_category,product_name,price,quantity,discount_pct,payment_mode,delivery_days,return_flag,rating,marketing_channel
0,OD1001,1/1/2024,C202,Bangalore,Karnataka,56,Fashion,Decor,Men T-Shirt,52117,1,15,COD,4,No,1.0,Referral
1,OD1002,1/2/2024,C535,Mumbai,Delhi,46,Fashion,Furniture,Prestige Cooker,18822,2,20,UPI,2,No,3.0,Ads
2,OD1003,1/3/2024,C960,Delhi,Delhi,32,Home,Kitchen,Boat Earphones,18518,3,15,COD,2,No,1.0,Organic
3,OD1004,1/4/2024,C370,Jaipur,Karnataka,60,Home,Furniture,Prestige Cooker,41362,1,40,UPI,6,No,1.0,Referral
4,OD1005,1/5/2024,C206,Chennai,West Bengal,25,Home,Accessories,Samsung Phone,10782,1,40,Card,6,No,NaN,Organic

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           1000 non-null   object
 1   order_date         1000 non-null   object
 2   customer_id        1000 non-null   object
 3   city               1000 non-null   object
 4   state              1000 non-null   object
 5   Age                1000 non-null   int64
 6   category           1000 non-null   object
 7   sub_category       1000 non-null   object
 8   product_name       1000 non-null   object
 9   price              1000 non-null   int64
 10  quantity           1000 non-null   int64
 11  discount_pct       1000 non-null   int64
 12  payment_mode       1000 non-null   object
 13  delivery_days      1000 non-null   int64
 14  return_flag        1000 non-null   object
 15  rating             979 non-null    float64
 16  marketing_channel  1000 non-null   object
dtypes: float64(1), int64(5), object(11)
memory usage: 132.9+ KB

In [8]:
df.isnull().sum()

order_id              0
order_date            0
customer_id           0
city                  0
state                 0
Age                   0
category              0
sub_category          0
product_name          0
price                 0
quantity              0
discount_pct          0
payment_mode          0
delivery_days         0
return_flag           0
rating               21
marketing_channel     0
dtype: int64

In [10]:
df["order_date"] = pd.to_datetime(df["order_date"])

In [11]:
df["Month"] = df["order_date"].dt.month_name()

In [12]:
order_date_index = df.columns.get_loc("order_date")
cols = list(df.columns)
cols.insert(order_date_index + 1, cols.pop(cols.index("Month")))
df = df[cols]

In [13]:
df.columns

Index(['order_id', 'order_date', 'Month', 'customer_id', 'city', 'state',
       'Age', 'category', 'sub_category', 'product_name', 'price', 'quantity',
       'discount_pct', 'payment_mode', 'delivery_days', 'return_flag',
       'rating', 'marketing_channel'],
      dtype='object')

In [20]:
df["rating"] = df.groupby("category")["rating"].transform(
    lambda x: x.fillna(x.median())
)

In [21]:
df

,order_id,order_date,Month,customer_id,city,state,Age,category,sub_category,product_name,price,quantity,discount_pct,payment_mode,delivery_days,return_flag,rating,marketing_channel
0,OD1001,2024-01-01,January,C202,Bangalore,Karnataka,56,Fashion,Decor,Men T-Shirt,52117,1,15,COD,4,No,1.0,Referral
1,OD1002,2024-01-02,January,C535,Mumbai,Delhi,46,Fashion,Furniture,Prestige Cooker,18822,2,20,UPI,2,No,3.0,Ads
2,OD1003,2024-01-03,January,C960,Delhi,Delhi,32,Home,Kitchen,Boat Earphones,18518,3,15,COD,2,No,1.0,Organic
3,OD1004,2024-01-04,January,C370,Jaipur,Karnataka,60,Home,Furniture,Prestige Cooker,41362,1,40,UPI,6,No,1.0,Referral
4,OD1005,2024-01-05,January,C206,Chennai,West Bengal,25,Home,Accessories,Samsung Phone,10782,1,40,Card,6,No,3.0,Organic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,OD1996,2026-09-22,September,C837,Mumbai,Tamil Nadu,50,Home,Furniture,Office Chair,33133,3,0,COD,2,No,5.0,Organic
996,OD1997,2026-09-23,September,C905,Mumbai,Tamil Nadu,21,Home,Furniture,Women Kurti,559,3,0,Card,7,No,5.0,Organic
997,OD1998,2026-09-24,September,C405,Delhi,West Bengal,39,Fashion,Kitchen,Women Kurti,9768,3,0,Card,2,No,5.0,Organic
998,OD1999,2026-09-25,September,C197,Chennai,Tamil Nadu,19,Fashion,Furniture,HP Laptop,63642,3,20,Card,2,No,1.0,Organic
999,OD2000,2026-09-26,September,C949,Kolkata,West Bengal,27,Electronics,Accessories,HP Laptop,23564,2,0,NetBanking,2,No,1.0,Email

In [22]:
def age_group(age):
    if age < 18:
        return "Teenager"
    elif age <= 35:
        return "Young Adult"
    elif age <= 55:
        return "Adult"
    else:
        return "Senior"

In [23]:
df["Age Group"] = df["Age"].apply(age_group)

In [25]:
df.columns

Index(['order_id', 'order_date', 'Month', 'customer_id', 'city', 'state',
       'Age', 'category', 'sub_category', 'product_name', 'price', 'quantity',
       'discount_pct', 'payment_mode', 'delivery_days', 'return_flag',
       'rating', 'marketing_channel', 'Age Group'],
      dtype='object')

In [26]:
# Find index of Age column
age_index = df.columns.get_loc("Age")

# Reorder columns to place Age Group after Age
cols = list(df.columns)
cols.insert(age_index + 1, cols.pop(cols.index("Age Group")))
df = df[cols]

In [27]:
df

,order_id,order_date,Month,customer_id,city,state,Age,Age Group,category,sub_category,product_name,price,quantity,discount_pct,payment_mode,delivery_days,return_flag,rating,marketing_channel
0,OD1001,2024-01-01,January,C202,Bangalore,Karnataka,56,Senior,Fashion,Decor,Men T-Shirt,52117,1,15,COD,4,No,1.0,Referral
1,OD1002,2024-01-02,January,C535,Mumbai,Delhi,46,Adult,Fashion,Furniture,Prestige Cooker,18822,2,20,UPI,2,No,3.0,Ads
2,OD1003,2024-01-03,January,C960,Delhi,Delhi,32,Young Adult,Home,Kitchen,Boat Earphones,18518,3,15,COD,2,No,1.0,Organic
3,OD1004,2024-01-04,January,C370,Jaipur,Karnataka,60,Senior,Home,Furniture,Prestige Cooker,41362,1,40,UPI,6,No,1.0,Referral
4,OD1005,2024-01-05,January,C206,Chennai,West Bengal,25,Young Adult,Home,Accessories,Samsung Phone,10782,1,40,Card,6,No,3.0,Organic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,OD1996,2026-09-22,September,C837,Mumbai,Tamil Nadu,50,Adult,Home,Furniture,Office Chair,33133,3,0,COD,2,No,5.0,Organic
996,OD1997,2026-09-23,September,C905,Mumbai,Tamil Nadu,21,Young Adult,Home,Furniture,Women Kurti,559,3,0,Card,7,No,5.0,Organic
997,OD1998,2026-09-24,September,C405,Delhi,West Bengal,39,Adult,Fashion,Kitchen,Women Kurti,9768,3,0,Card,2,No,5.0,Organic
998,OD1999,2026-09-25,September,C197,Chennai,Tamil Nadu,19,Young Adult,Fashion,Furniture,HP Laptop,63642,3,20,Card,2,No,1.0,Organic
999,OD2000,2026-09-26,September,C949,Kolkata,West Bengal,27,Young Adult,Electronics,Accessories,HP Laptop,23564,2,0,NetBanking,2,No,1.0,Email

In [28]:
df.isnull().sum()

order_id             0
order_date           0
Month                0
customer_id          0
city                 0
state                0
Age                  0
Age Group            0
category             0
sub_category         0
product_name         0
price                0
quantity             0
discount_pct         0
payment_mode         0
delivery_days        0
return_flag          0
rating               0
marketing_channel    0
dtype: int64

In [29]:
df = pd.DataFrame(df)
df.to_csv('new_one.csv', index=False)